<mat-card class="search-container">
  <div class="search-container-center">
    <!-- form -->
    <form class="search-form" action="">
      <!-- destination -->
      <mat-form-field class="destination-input">
        <mat-label>Destination</mat-label>
        <input
          #destinationInput
          matInput
          [(ngModel)]="searchParameters.destination"
          name="destination"
          (click)="openDestinationDialog($event)"
          autocomplete="off"
        />
      </mat-form-field>
      <!-- date range -->
      <mat-form-field class="date-input">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [min]="todayDate" [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            [(ngModel)]="searchParameters.checkInDate"
            name="checkInDate"
          />
          <input
            matEndDate
            placeholder="End date"
            [(ngModel)]="searchParameters.checkOutDate"
            name="checkOutDate"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker
          [touchUi]="calendarTouchUi"
          #picker
        ></mat-date-range-picker>
      </mat-form-field>
      <button
        matIconSuffix
        class="small-screen-date-btn"
        (click)="picker.open()"
      >
        <span
          class="small-screen-dates"
          *ngIf="searchParameters.checkInDate && searchParameters.checkOutDate"
        >
          {{ searchParameters.checkInDate.getDate() }}-{{
            searchParameters.checkOutDate.getDate()
          }}
        </span>
        <div class="small-screen-date-icon">
          <svg
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            fill="currentColor"
            focusable="false"
            aria-hidden="true"
            class="mat-datepicker-toggle-default-icon"
          >
            <path
              d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
            ></path>
          </svg>
        </div>
      </button>
      <!-- guests and rooms field -->
      <mat-form-field class="guests-rooms-input">
        <div
          (click)="openGuestsRoomsDialog($event)"
          class="small-screen-guests-btn"
        >
          <span class="small-screen-guests-count">
            {{ searchParameters.adultsCount }}
          </span>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="GuestsRoomsChildrenPortal_GuestsRoomsChildrenPortal__icon__ZGE0N"
              style="width: 1.5rem; height: 1.5rem"
            >
              <path
                d="M10 1.98a.697.697 0 01.382-.667A4.083 4.083 0 0112 1a3.974 3.974 0 011.595.31A.73.73 0 0114 2v2.514C14 5.5 13 6 12 6s-2-.5-2-1.486zm6 12.244V8.302a.84.84 0 00-.548-.823A12.589 12.589 0 0012.035 7a12.671 12.671 0 00-3.488.55.854.854 0 00-.547.83v5.92c0 .402.62.749 1.191.964a1.195 1.195 0 01.805.989l.45 5.823a1 1 0 00.997.923h1.184a1 1 0 00.997-.923l.45-5.823a1.267 1.267 0 01.797-1.014C15.418 15 16 14.624 16 14.224z"
              ></path>
            </svg>
          </span>
        </div>

        <input
          class="large-screen-guests"
          matInput
          #guestsRoomsInput
          placeholder="{{ searchParameters.adultsCount }} adults, {{
            searchParameters.roomsCount
          }} room"
          readonly
          (click)="openGuestsRoomsDialog($event)"
        />
      </mat-form-field>
      <button
        (click)="search()"
        class="search-btn"
        color="primary"
        mat-flat-button
      >
        Search
      </button>
    </form>
  </div>
</mat-card>
