.search-container {
  background-color: #05203c;
  border-radius: 0;
  z-index: 10;
  top: 0;
}

.search-container-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1224px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 50px !important;
  border-radius: 0 !important;
  font-size: 0.8rem;
  background-color: white !important;
}
::ng-deep .mat-mdc-form-field-flex {
  background-color: white;
}

.search-form {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr 80px 70px 100px;
  gap: 0.5rem;
  padding-bottom: 0;
}

.destination-input mat-label {
  font-size: 0.75rem !important;
}

.date-input {
  display: none;
}

.small-screen-date-btn {
  display: flex;
  border: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  border-radius: 0;
  cursor: pointer;
}

.small-screen-guests-btn {
  display: flex;
  cursor: pointer;
}
.small-screen-guests-count {
  font-size: 0.9rem;
}
.small-screen-guests-btn svg {
  fill: grey;
}

.large-screen-guests {
  display: none;
}

.search-btn {
  height: 50px;
  border-radius: 0;
  font-size: 0.85rem;
  background-color: #00a1b0;
}

.small-screen-dates {
  font-weight: 400;
  margin-right: 0.25rem;
  font-size: 0.9rem;
}

.small-screen-date-icon {
  display: flex;
  align-items: end;
}

.small-screen-date-icon svg {
  fill: grey;
}

@media screen and (min-width: 800px) {
  .search-form {
    grid-template-columns: 1fr 250px 150px 100px;
  }
  .destination-input mat-label {
    font-size: 1rem !important;
  }
  .destination-input input {
    font-size: 1rem !important;
  }
  .date-input {
    display: block;
  }

  .small-screen-date-btn {
    display: none;
  }
  .large-screen-guests {
    display: block;
  }
  .small-screen-guests-btn {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .search-form {
    grid-template-columns: 1fr 250px 200px 150px;
  }
  .large-screen-guests {
    font-size: 0.9rem !important;
  }
}
