section {
}

.center {
  margin: 0 auto;
  max-width: 1224px;
  width: 90vw;
}

.fill {
  height: 100vh;
}

/* image grid */

.image-grid {
  margin: 2rem;
  max-width: 1224px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 0.25rem;
}

.first {
  max-height: 300px;
}

.second,
.third {
  max-height: calc(150px - 0.125rem);
  display: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* description */

.hotel-info {
  margin-top: 2rem;
}

.hotel-name {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hotel-rating {
  margin-bottom: 1rem;
}

.hotel-rating svg {
  fill: #f55d42;
}

.hotel-address {
  margin-bottom: 1rem;
}

.hotel-guest-rating {
  margin-bottom: 1rem;
}

.guest-rating {
  font-weight: 500;
  font-size: 2rem;
}
.guest-reviews {
  color: grey;
}

/* room options */

.parameter-confirmation {
  padding: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.selected-dates,
.selected-guests-rooms {
  font-weight: 500;
}

.selected-dates {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

.date,
.time {
  color: #666;
}
.date {
  font-weight: 500;
  margin-top: 0.5rem;
}
.time {
  margin-left: 0.5rem;
}

.change-dates-btn {
  background-color: #05203c;
  margin-right: 4rem;
  margin-top: 2rem;
  width: 200px;
}

/* room option section */

.selected-guests-rooms {
  margin-top: 3rem;
  margin-left: 0.25rem;
}

.available-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.nights-adults {
  font-weight: 400;
  font-size: 0.95rem;
}

.room-option-component {
  background-color: white;
}

.room-options-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  gap: 1.5rem;
}

.room-card {
}

.room-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.room-title {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
}

.room-info {
  padding: 1rem;
}

.room-amenities {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.room-total-price {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.book-btn {
  margin-top: 2rem;
  width: 200px;
  background-color: #05203c;
  color: white;
}

@media (min-width: 700px) {
  .first {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .second,
  .third {
    display: block;
  }
  .image-grid {
    grid-template-columns: 2fr 1fr;
    grid-row-start: 2;
  }

  .selected-dates {
    flex-direction: row;
    gap: 4rem;
  }
  .parameter-confirmation {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .change-dates-btn {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .hotel-name {
    font-size: 2.5rem;
  }
  .hotel-rating svg {
    width: 20px !important;
    height: 20px !important;
  }

  .room-options-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
