.center {
  max-width: 1224px;
  width: 90vw;
  margin: 0 auto;
}

.booking-result-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
}

.fill {
  height: 100vh;
}
