<section>
  <div class="center">
    <div class="first">
      <!-- hotel summary -->
      <div class="hotel">
        <div class="dates">
          <div class="check-in-check-out">
            <span>
              {{
                bookingSummary.parameters?.checkInDate | date : "dd MMM yyyy"
              }}
            </span>
            -
            <span>
              {{
                bookingSummary.parameters?.checkOutDate | date : "dd MMM yyyy"
              }}
            </span>
          </div>
          <div class="total-nights">{{ bookingSummary.totalDays }} nights</div>
        </div>
        <div class="main-info">
          <img
            src="{{ baseUrl + bookingSummary.hotel.imagePaths[0] }}"
            alt=""
          />
          <div class="summary">
            <div class="hotel-name">{{ bookingSummary.hotel.title }}</div>
            <div class="room-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="RoomProps_RoomProps__propIcon__YTY1N BpkIcon_bpk-icon--rtl-support__OTJmO"
                style="width: 1rem; height: 1rem"
              >
                <path
                  d="M3.684 5.067A1.228 1.228 0 003 6.227V9.43a1.1 1.1 0 001.125 1.07H5.25A.75.75 0 006 9.75v-1.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75v1.5a.75.75 0 00.75.75h1.5a.75.75 0 00.75-.75v-1.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75v1.5a.75.75 0 00.75.75h1.123a1.099 1.099 0 001.125-1.073l-.001-1.07H21v-2.13a1.228 1.228 0 00-.684-1.16l-1.991-.812a16.569 16.569 0 00-12.65 0zM4.5 12a3 3 0 00-3 3v5.25a.75.75 0 00.75.75h.286a.75.75 0 00.671-.415L4.5 18h15l1.293 2.585a.75.75 0 00.67.415h.287a.75.75 0 00.75-.75V15a3 3 0 00-3-3z"
                ></path>
              </svg>
              1x {{ bookingSummary.room.description }}
            </div>
            <div class="guest-info">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="RoomInformation_RoomInformation__adultIcon__ZWYwY BpkIcon_bpk-icon--rtl-support__OTJmO"
                style="width: 1rem; height: 1rem"
              >
                <path
                  d="M10.8 1.774A2.637 2.637 0 0112 1.5a2.563 2.563 0 011.196.28.685.685 0 01.304.62v2.262A1.377 1.377 0 0112 6a1.377 1.377 0 01-1.5-1.338V2.4a.681.681 0 01.3-.626zM15 13.835V9.452a1.514 1.514 0 00-.536-1.277 4.444 4.444 0 00-2.429-.675 4.575 4.575 0 00-2.5.784A1.545 1.545 0 009 9.568v4.383a2.458 2.458 0 00.295 1.217c.05.087.103.175.157.263a3.131 3.131 0 01.563 1.414l.408 4.312c.054.764.483 1.343.995 1.343h1.235c.511 0 .94-.58.994-1.343l.408-4.312a3.272 3.272 0 01.477-1.32c.074-.14.148-.277.214-.417A3.083 3.083 0 0015 13.835z"
                ></path>
              </svg>
              {{ bookingSummary.parameters?.adultsCount }} adults,
              {{ bookingSummary.parameters?.roomsCount }} room
            </div>
          </div>
        </div>
      </div>
      <!-- price summary -->
      <div class="price-info">
        <div class="main-cost">
          <div>
            ${{ bookingSummary.room.pricePerNight }} x
            {{ bookingSummary.totalDays }} nights
          </div>
          <div>
            ${{ bookingSummary.room.pricePerNight * bookingSummary.totalDays }}
          </div>
        </div>
        <div class="additional-cost">
          <div>Room upgrade</div>
          <div>
            ${{
              (
                bookingSummary.totalPrice -
                bookingSummary.room.pricePerNight * bookingSummary.totalDays
              ).toFixed(2)
            }}
          </div>
        </div>
        <mat-divider></mat-divider>

        <div class="total">
          <div>Total</div>
          <div>${{ bookingSummary.totalPrice.toFixed(2) }}</div>
        </div>
      </div>
      <button
        mat-flat-button
        (click)="book()"
        [disabled]="!guestDetailsForm.valid"
        class="reserve-btn-large-screen"
        color="primary"
      >
        Book now
      </button>
    </div>
    <div class="second">
      <!-- main guest detail form -->
      <div class="details-form">
        <div class="header">Main guest details</div>
        <div class="form" [formGroup]="guestDetailsForm">
          <!-- first name -->
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.get('firstName')?.errors?.['required'] &&
              guestDetailsForm.get('firstName')?.touched
  "
          >
            First name is required.
          </div>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
          <!-- last name -->
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.get('lastName')?.errors?.['required'] &&
              guestDetailsForm.get('lastName')?.touched
  "
          >
            Last name is required.
          </div>

          <mat-form-field required appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </div>
      </div>
      <!-- contact detail form -->
      <div class="details-form">
        <div class="header">Contact details</div>
        <div class="form" [formGroup]="guestDetailsForm">
          <!-- email -->
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.hasError('email', 'email') &&
              guestDetailsForm.get('email')?.touched
            "
          >
            Please enter a valid email address
          </div>
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.get('email')?.errors?.['required'] &&
              guestDetailsForm.get('email')?.touched
  "
          >
            Email is required.
          </div>
          <mat-form-field required appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <!-- contact number -->
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.get('contactNumber')?.errors?.['pattern'] &&
              guestDetailsForm.get('contactNumber')?.touched
            "
          >
            Please enter a valid contact number
          </div>
          <div
            class="invalid-input-error-container"
            *ngIf="
              guestDetailsForm.get('contactNumber')?.errors?.['required'] &&
              guestDetailsForm.get('contactNumber')?.touched
  "
          >
            Contact number is required.
          </div>

          <mat-form-field required appearance="outline">
            <mat-label>Contact number</mat-label>
            <input matInput formControlName="contactNumber" />
          </mat-form-field>
        </div>
      </div>
      <button
        class="reserve-btn"
        mat-flat-button
        (click)="book()"
        [disabled]="!guestDetailsForm.valid"
      >
        Book now
      </button>
    </div>
  </div>
  <div class="fill"></div>
</section>
