.card {
  border-radius: 1rem;
  flex: 0 0 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 275px;
  margin: 1rem 0.5rem;
  height: 325px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 4px 14px 5px #86868640;
  transition: 0.2s linear;
}

/* image */

.card img {
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* hotel info */

.hotel-info {
  padding: 1rem;
}

.title-rating-flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.rating svg {
  fill: #f55d42;
}
.distance {
  font-size: 0.9rem;
}
.reviews {
  margin-top: 0.5rem;
}
.reviews span {
  margin-right: 0.25rem;
}

.review-points {
  font-weight: 500;
}
.review-tripadvisor img {
  max-width: 100px;
  height: 30px;
  object-fit: contain;
  vertical-align: middle;
}
.review-count {
  font-size: 0.7rem;
  color: grey;
}

.price-divider {
  display: none;
}

/* price container */

.hotel-price-container {
  padding-right: 1rem;
  display: flex;
  justify-content: end;
  align-items: end;
}
.hotel-price {
  font-weight: 500;
  font-size: 1.25rem;
}

.night {
  margin-left: 0.25rem;
}

.anight {
  display: none;
}

.free-cancellation {
  margin-top: 0.1rem;
  font-size: 0.7rem;
  color: rgb(99, 98, 98);
  text-align: center;
}

.view-btn {
  display: none;
  background-color: #05203c;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 0.85rem;
    margin-bottom: 0.75rem;
  }
  .rating svg {
    width: 13px !important;
    height: 13px !important;
  }
  .distance {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 850px) {
  .title {
    font-size: 1rem;
  }
  .rating svg {
    width: 15px !important;
    height: 15px !important;
  }
  .distance {
    font-size: 0.9rem;
  }
}

.slider-controls {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.slider-controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #0062e3;
  transition: 0.2s ease-in-out;
}
.slider-controls button:hover {
  fill: #05203c;
  transition: 0.2s ease-in-out;
}
